#modal {
    display: none; 
    justify-content: center;
    align-items: center;
    vertical-align: center;
    position: fixed; 
    z-index: 1; 
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    font-size: 18px;
    #modalContent{
        overflow-y: scroll;
        display: grid;  
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        background-color: #fff;
        width: 90%;
        height: 70%;
        padding: 1.5rem;
        border-radius: 10px;
        .bookCover{
            display: flex;
            grid-column-start: 1;
            grid-column-end: 1;
            align-items: center;
            justify-content: center;

            img {
                align-self: center;
                width: 100%;
                height: 90%;
            }
        }
        .bookInfo {
            align-self: center;
            grid-column-start: 2;
            grid-column-end: 4;
            
            margin-left: 1rem;
            display: flex;
            flex-direction: column;
    
            h1 {
                font-size: 2rem;
                margin: 1rem 0  1rem 0;
            }
    
            span {
                margin: 1rem 0  1rem 0;
            }

            span + span {
                font-weight: 500;
                font-size: 1.2rem;
            }
        }
        p{
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 4;
            margin-bottom: 1rem;
        }

        
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar{
            width: 0;
            background: transparent;
        }
        @media (min-width: 768px) {
            height: 70%;
            width: 70%;

            img {
                width: 50%;
                height: 50%;
            }
        }
    }
}
