#headerContainer{
    width: 100%;
    font-size: 2em;
    border: 1px solid black;
    background-color: #4B5494;
    color: #c3c3c3;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    h1 {
        margin: 1em 0 1em 0;
    }
}

