@import './globalCssReset.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
*{
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #E4F3FB;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#rootContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

